{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meu Arquivo</title>
</head>
<body>

    <header class="topo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="content-menu">
                        <ul class="menu">
                            <li class="item-menu">
                                <a href="./">Página 1</a>
                            </li>
                            <li class="item-menu">
                                <a href="./Pagina2">Página 2</a>
                            </li>
                            <li class="item-menu">
                                <a href="./Pagina3">Página 3</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="site container">
        <div class="row">
            <aside class="col-md-3">
                <ul class="menu-lateral">
                    <li>
                        <a href="#">link pagina 1</a>
                    </li>
                    <li>
                        <a href="#">link pagina 1</a>
                    </li>
                    <li>
                        <a href="#">link pagina 1</a>
                    </li>
                </ul>
            </aside>
            
            <div class="col-md-9">
                <h1>Conteudo do site</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum volutpat dolor ut auctor. Sed et mi tellus. Nulla facilisi. Mauris venenatis ipsum id risus mattis aliquet. Sed viverra arcu sit amet efficitur ultrices. Suspendisse potenti. Sed laoreet leo ut odio semper, at sodales tortor bibendum. Maecenas lacinia pharetra orci, vitae tristique urna pharetra imperdiet. Etiam massa sem, viverra vitae ligula sed, commodo elementum erat. Nunc sollicitudin nulla non nisi bibendum, et pellentesque nisi hendrerit. Sed imperdiet tellus imperdiet sodales rutrum.</p>

            </div>

        </div>
    </section>

</body>
</html>